body{
   background-color:rgb(224, 155, 166);
   text-align: center;
   align-items: center; 

   justify-content: center; 
   align-items: center;
}



#Play-With-Friends{
    padding: 1.05rem;
    font-size: medium;
    border-radius: 1.5rem;
    color: azure;
    background-color: black;
}

#Play-With-AI{
    padding: 1.05rem;
    font-size: medium;
    border-radius: 1.5rem;
    color: azure;
    background-color: black;
}
