body {
    margin: 0;
    background: white;
    font-family: Arial, sans-serif;
    color: rgb(4, 0, 255);
    text-align: center;
}

h1 {
    margin-top: 20px;
    font-size: 3rem;
    font-weight: bold;
}


.game {
    height: 55vmin;
    width: 55vmin;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1.3vmin;
}

.box {
    height: 16vmin;
    width: 16vmin;
    background: lightgreen;
    border-radius: 1rem;
    font-size: 6.5vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}


#Play-Again {
    padding: 1.25rem;
    font-size: medium;
    border-radius: 2rem;
    color: rgb(4, 0, 255);
    background-color:  DeepSkyBlue;
    border: none;
    cursor: pointer;
}

#Abort-Game {
    padding: 1.25rem;
    font-size: medium;
    border-radius: 2rem;
    color: white;
    background-color: crimson;
    margin-left: 1rem;
    border: none;
    cursor: pointer;
}



.popup-box {
    background: #1b1146;
    padding: 20px;
    width: 260px;
    border-radius: 12px;
    text-align: center;
}

.popup-buttons {
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
}

.popup-buttons button {
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}


#Player1{
    padding: 1.25rem;
    font-size: small;
    border-radius: 2rem;
    color: azure;
    background-color: black;
    border: none;
    cursor: pointer;
}


#Player2{
    padding: 1.25rem;
    font-size: small;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
}


.players {
    width: 100%;
    display: flex;
    justify-content: center; 
    gap: 40px;                  
    margin-top: 20px;
}

.player {
    background: DeepSkyBlue;
    padding: 15px 25px;
    border-radius: 12px;
    transition: 0.3s;
}

.player h2 {
    margin: 0;
    font-size: 1.2rem;
}

.player p {
    margin: 5px 0;
    font-size: 1.2rem;
}

.board {
    width: 80vmin;
    height: 80vmin;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vmin;
    margin: auto;
}

.name-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 20px;
}


.name-box input {
    padding: 10px 15px;
    width: 180px;
    border: 2px solid #cfd8dc;
    border-radius: 8px;
    font-size: 15px;
    transition: 0.3s ease;
    outline: none;
    background: white;
}

.name-box input:focus {
    border-color: #3ab4ff;
    box-shadow: 0 0 6px rgba(58, 180, 255, 0.5);
}


#startGame {
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    background: green;
    color: white;
    font-size: 16px;
   
}

 #status {
        color: green;
    }

.box.x::after {
    content: "X";
    font-size: 10vmin;
    color: #ff0000;
    font-weight: bold;
}

.box.o::after {
    content: "O";
    font-size: 10vmin;
    color: #0000ff;
    font-weight: bold;
}
